#header_name{
    background-color: darkcyan;
    color: lightcoral;
}
#div2{
    width: 60%;
    align-items: center;
}
.div2_classitem{
    flex-direction: column;
}
#div2_item1 img{
    width: 5%;
}
.div2_item2_workhistory{
    background-color: lightgreen;
    color: darkred;
    border: 2px black solid;
    align-content: center;
    width: 50%;
}